﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="showAuction.aspx.cs" Inherits="showAuction" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
    <form id="form1" runat="server">
    <asp:DataList ID="DataList1" runat="server" DataKeyField="auctID" 
        DataSourceID="SqlDataSource1" CellPadding="4" ForeColor="#333333" 
        RepeatColumns="3" RepeatDirection="Horizontal">
    <ItemTemplate>
    <tr>
                    <td rowspan="5" style="width: 100px">
                        </td>
                </tr>
                <tr>
                    <td style="width: 100px" rowspan="4">
                        <asp:LinkButton ID="LinkButton1" runat="server" OnClientClick="Default.aspx"><asp:Image ID="Image1" runat="server" Height="111px" ImageUrl='<%# "~/images/"+Eval("Image") %>'
                            Style="position: relative" Width="103px" /></asp:LinkButton></td>
                    <td style="width: 102px">
                        Name:
                    </td>
                    <td style="width: 100px">
                        <asp:Label ID="categoryLabel" runat="server" Text='<%# Eval("billName") %>' Width="162px" style="position: relative"></asp:Label></td>
                </tr>
                <tr>
                    <td style="width: 102px; height: 21px;">
                        StartDate:&nbsp;
                    </td>
                    <td style="width: 100px; height: 21px;">
                        <asp:Label ID="brandLabel" runat="server" Style="position: relative" Text='<%# Eval("startDate") %>' Width="163px"></asp:Label></td>
                </tr>
                <tr>
                    <td style="width: 102px">
                        EndDate:
                    </td>
                    <td style="width: 100px">
                        <asp:Label ID="modelLabel" runat="server" Style="position: relative" Text='<%# Eval("endDate") %>' Width="163px"></asp:Label></td>
                </tr>
                <tr>
                
                    <td style="width: 102px">
                        Price:
                    </td>
                    <td style="width: 100px">
                        <asp:Label ID="priceLabel" runat="server" Text='<%# Eval("initRate") %>' Width="162px"></asp:Label></td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="1">
                        <asp:Label ID="descriptionLabel" runat="server" Text='<%# Eval("auctID") %>' Height="73px" Width="172px"></asp:Label></td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="1">
                    </td>
                </tr>
                        <%--auctID:
                        <asp:Label ID="auctIDLabel" runat="server" Text='<%# Eval("auctID") %>' />
                        <br />
                        billName:
                        <asp:Label ID="billNameLabel" runat="server" Text='<%# Eval("billName") %>' />
                        <br />
                        initRate:
                        <asp:Label ID="initRateLabel" runat="server" Text='<%# Eval("initRate") %>' />
                        <br />
                        startDate:
                        <asp:Label ID="startDateLabel" runat="server" Text='<%# Eval("startDate") %>' />
                        <br />
                        endDate:
                        <asp:Label ID="endDateLabel" runat="server" Text='<%# Eval("endDate") %>' />
                        <br />
                        Image:
                        <asp:Label ID="ImageLabel" runat="server" Text='<%# Eval("Image") %>' />
                        <br />
                        <br />
--%>                    </ItemTemplate>
    </asp:DataList>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:loginDBConnectionString4 %>" 
        SelectCommand="SELECT * FROM [auction]"></asp:SqlDataSource>
    </form>
    
</asp:Content>

