﻿body 
{
    color:#5743cf;
    font-family:corbel,Arial,Helvetica,Verdana,sans-serif;
    font-size:16px;
    background-color:red;
    
}
#wrapper
{
    width:1100px;
    margin:auto;
    padding-bottom:20px;
    background-color:white;
    
}
#banner
{
    
}

#navigation
{
    height:45px;
    background:linear-gradient(to top, #c2bcb5, #ffffff);
}
#nav
{
    display:block;
    text-align:center;
    list-style:none;
}
#nav ul
{
    display:none;
    list-style:none;
    
}
#nav li
{
 float:left ;
 display:block ;
 margin-top:15px;
 text-transform:uppercase;
 padding:0px 20px 0px 20px;
 border-left:1px solid #fffff;
   
}
#nav a:hover
{
   background-color:White ; 
}
#content
{
    padding:20px;
    min-height:400px;
}
#nav a:lin, #nav a:visited, #nav a:active
{
    display:block;
    color:#5743cf;
    text-decoration:none;
}

