﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="userhome.aspx.cs" Inherits="userhome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <form id="form1" runat="server">
     <h3 style="margin-left: 1000px"><asp:HyperLink ID="HyperLink1" runat="server" 
             NavigateUrl="~/loginPage.aspx">Logout</asp:HyperLink>
         
    <asp:Menu ID="Menu1"  runat="server" Orientation="Horizontal" StaticSubMenuIndent="100%" Width="541px" ForeColor="#66FF33" ItemWrap="True"  >
        <Items>
            <asp:MenuItem Text="My Profile" Value="My Profile"></asp:MenuItem>
            <asp:MenuItem Text="Auction " Value="Auction " NavigateUrl="showAuction.aspx"></asp:MenuItem>
            <asp:MenuItem Text="View Billboards" Value="View Billboards"></asp:MenuItem>
            <asp:MenuItem Text="Purchased Item" Value="Purchased Item"></asp:MenuItem>
        </Items>
    </asp:Menu>
     </h3>
         
     </form>
    

</asp:Content>

